# Data Preparation

In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

/var/folders/cl/smsdpk8x42b4klg3pg8gnkmw0000gn/T/ipykernel_1183/2954675577.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

In [3]:
loan_data = loan_data_backup

In [4]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [5]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [6]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [7]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('+ years','')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year',str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('1 year','1')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years','')

In [8]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [9]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [10]:
type(loan_data['emp_length_int'][0])

numpy.float64

In [11]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [12]:
loan_data['term_int'] = loan_data['term'].str.replace(' months','')
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])
loan_data['term_int'].unique()

array([36, 60])

In [13]:
type(loan_data['term_int'][0])

numpy.int64

In [14]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [15]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'],format = '%b-%y')
loan_data['earliest_cr_line_date']

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line_date, Length: 466285, dtype: datetime64[ns]

In [16]:
loan_data['mths_since_earliest_cr_line'] = round((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1,'M'))

In [17]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        235.142031
std          92.270010
min        -601.000000
25%         180.000000
50%         221.000000
75%         280.000000
max         576.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [18]:
loan_data.loc[loan_data['mths_since_earliest_cr_line'] <0,['earliest_cr_line','earliest_cr_line_date','mths_since_earliest_cr_line']]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -527.0
1770             Sep-68            2068-09-01                       -598.0
2799             Sep-64            2064-09-01                       -551.0
3282             Sep-67            2067-09-01                       -586.0
3359             Feb-65            2065-02-01                       -556.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -590.0
464260           Jul-66            2066-07-01                       -572.0
465100           Oct-67            2067-10-01                       -587.0
465500           Sep-67            2067-09-01                       -586.0
465655           Jan-56            2056-01-01                       -449.0

[1169 rows x 3 columns]

In [19]:
loan_data.loc[loan_data['mths_since_earliest_cr_line'] <0,'mths_since_earliest_cr_line']= loan_data['mths_since_earliest_cr_line'].max()

In [20]:
min(loan_data['mths_since_earliest_cr_line'])

72.0

In [21]:
loan_data['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13',
       'Jul-13', 'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13',
       'Jan-13', 'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12',
       'Jul-12', 'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12',
       'Jan-12', 'Dec-14', 'Nov-14', 'Oct-14', 'Sep-14', 'Aug-14',
       'Jul-14', 'Jun-14', 'May-14', 'Apr-14', 'Mar-14', 'Feb-14',
       'Jan-14'], dtype=object)

In [22]:
loan_data['issue_date'] = pd.to_datetime(loan_data['issue_d'],format = '%b-%y')

In [23]:
loan_data['issue_date'].unique()

<DatetimeArray>
['2011-12-01 00:00:00', '2011-11-01 00:00:00', '2011-10-01 00:00:00',
 '2011-09-01 00:00:00', '2011-08-01 00:00:00', '2011-07-01 00:00:00',
 '2011-06-01 00:00:00', '2011-05-01 00:00:00', '2011-04-01 00:00:00',
 '2011-03-01 00:00:00', '2011-02-01 00:00:00', '2011-01-01 00:00:00',
 '2010-12-01 00:00:00', '2010-11-01 00:00:00', '2010-10-01 00:00:00',
 '2010-09-01 00:00:00', '2010-08-01 00:00:00', '2010-07-01 00:00:00',
 '2010-06-01 00:00:00', '2010-05-01 00:00:00', '2010-04-01 00:00:00',
 '2010-03-01 00:00:00', '2010-02-01 00:00:00', '2010-01-01 00:00:00',
 '2009-12-01 00:00:00', '2009-11-01 00:00:00', '2009-10-01 00:00:00',
 '2009-09-01 00:00:00', '2009-08-01 00:00:00', '2009-07-01 00:00:00',
 '2009-06-01 00:00:00', '2009-05-01 00:00:00', '2009-04-01 00:00:00',
 '2009-03-01 00:00:00', '2009-02-01 00:00:00', '2009-01-01 00:00:00',
 '2008-12-01 00:00:00', '2008-11-01 00:00:00', '2008-10-01 00:00:00',
 '2008-09-01 00:00:00', '2008-08-01 00:00:00', '2008-07-01 00:00:00',
 '2008-06-01 00:00:00', '2008-05-01 00:00:00', '2008-04-01 00:00:00',
 '2008-03-01 00:00:00', '2008-02-01 00:00:00', '2008-01-01 00:00:00',
 '2007-12-01 00:00:00', '2007-11-01 00:00:00', '2007-10-01 00:00:00',
 '2007-09-01 00:00:00', '2007-08-01 00:00:00', '2007-07-01 00:00:00',
 '2007-06-01 00:00:00', '2013-12-01 00:00:00', '2013-11-01 00:00:00',
 '2013-10-01 00:00:00', '2013-09-01 00:00:00', '2013-08-01 00:00:00',
 '2013-07-01 00:00:00', '2013-06-01 00:00:00', '2013-05-01 00:00:00',
 '2013-04-01 00:00:00', '2013-03-01 00:00:00', '2013-02-01 00:00:00',
 '2013-01-01 00:00:00', '2012-12-01 00:00:00', '2012-11-01 00:00:00',
 '2012-10-01 00:00:00', '2012-09-01 00:00:00', '2012-08-01 00:00:00',
 '2012-07-01 00:00:00', '2012-06-01 00:00:00', '2012-05-01 00:00:00',
 '2012-04-01 00:00:00', '2012-03-01 00:00:00', '2012-02-01 00:00:00',
 '2012-01-01 00:00:00', '2014-12-01 00:00:00', '2014-11-01 00:00:00',
 '2014-10-01 00:00:00', '2014-09-01 00:00:00', '2014-08-01 00:00:00',
 '2014-07-01 00:00:00', '2014-06-01 00:00:00', '2014-05-01 00:00:00',
 '2014-04-01 00:00:00', '2014-03-01 00:00:00', '2014-02-01 00:00:00',
 '2014-01-01 00:00:00']
Length: 91, dtype: datetime64[ns]

In [24]:
loan_data['mth_issue_date']=round((pd.to_datetime('2017-12-01') - loan_data['issue_date']) / np.timedelta64(1,'M'))

In [25]:
loan_data['mth_issue_date'].describe()

count    466285.000000
mean         50.204806
std          14.190212
min          35.000000
25%          40.000000
50%          46.000000
75%          56.000000
max         124.000000
Name: mth_issue_date, dtype: float64

In [26]:
pd.get_dummies(loan_data['grade'],prefix = 'grade',prefix_sep = ':')

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0         False     True    False    False    False    False    False
1         False    False     True    False    False    False    False
2         False    False     True    False    False    False    False
3         False    False     True    False    False    False    False
4         False     True    False    False    False    False    False
...         ...      ...      ...      ...      ...      ...      ...
466280    False    False     True    False    False    False    False
466281    False    False    False     True    False    False    False
466282    False    False    False     True    False    False    False
466283     True    False    False    False    False    False    False
466284    False    False    False     True    False    False    False

[466285 rows x 7 columns]

In [27]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix = 'grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['home_ownership'], prefix = 'home_ownership', prefix_sep = ':'),
                     pd.get_dummies(loan_data['verification_status'], prefix = 'verification_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['purpose'], prefix = 'purpose', prefix_sep = ':'),
                     pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state', prefix_sep = ':'),
                     pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status', prefix_sep = ':')]

KeyboardInterrupt:

In [ ]:
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [ ]:
type(loan_data_dummies)

In [ ]:
loan_data = pd.concat([loan_data,loan_data_dummies],axis = 1)

In [ ]:
loan_data.columns.values

In [ ]:
pd.options.display.max_rows = None
loan_data.isnull().sum().sort_values(ascending=False)

In [ ]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace = True)
loan_data['total_rev_hi_lim'].isnull().sum()

In [ ]:
loan_data['mths_since_earliest_cr_line'].fillna(0,inplace = True)
loan_data['acc_now_delinq'].fillna(0,inplace = True)
loan_data['total_acc'].fillna(0,inplace = True)
loan_data['pub_rec'].fillna(0,inplace = True)
loan_data['open_acc'].fillna(0,inplace = True)
loan_data['inq_last_6mths'].fillna(0,inplace = True)
loan_data['delinq_2yrs'].fillna(0,inplace = True)
loan_data['emp_length_int'].fillna(0,inplace = True)

In [ ]:
loan_data['annual_inc'].mean()

In [ ]:
np.mean(loan_data['annual_inc'])

In [ ]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(),inplace = True)

In [ ]:
loan_data['annual_inc'].isnull().sum()

# PD Model

In [ ]:
loan_data['loan_status'].value_counts()

In [ ]:
loan_data['loan_status'].value_counts()/loan_data['loan_status'].count()

In [ ]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off',
                                                                'Late (31-120 days)',
                                                                'Default',
                                                                'Does not meet the credit policy. Status:Charged Off']),0,1)

#The greater the value of the independent variable, the lower the probability of default, like credit score

 # Splitting Data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'])
# Takes a set of inputs and a set of targets as arguments. Splits the inputs and the targets into four dataframes:
# Inputs - Train, Inputs - Test, Targets - Train, Targets - Test.

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(loan_data.drop('good_bad', axis = 1), 
                                                    loan_data['good_bad'],
                                                    test_size = 0.2,
                                                    random_state = 42)